.scroll {
  height: 100%;
}

.nav-bar {
  background: #002b80;
  color: white;
}

.bar-positive {
  /*background: #5a163a !important;*/
  background: #002b80;
}

#map {
  width: 100%;
  height: 80%;
}

#report-map {
  width: 100%;
  height: 50%
}

.category-tag {
  float: left;
  font-size: 30px;
  margin-right: 25px;
}


.primary-color {
  color: rgb(255, 241, 111);
}

.secondary-color {
  color: #731850;
}

.tertiary-color {
  color: #1976D2;
}

.quadriary-color {

}

.up-down {
  /*float: right !important;*/
  /*clear: right !important;*/
}

.nav-button {
  /*background: rgb(255, 241, 111) !important;*/
  /*color: #731850 !important;*/
  background: lightblue !important;
  color: #002b80 !important;
}

.main-button {
  /*background: #1976D2 !important;*/
  color: white !important;
  background: #002b80;
}

.important-button {
  /*background: rgb(255, 241, 111) !important;*/
  /*color: #731850 !important;*/
  font-size: 16pt !important;
  background: #002b80;
  color: white;
}

.cat-button {
  width: 24%;
  font-size: small;
  margin-top: 2%;
}

.feed-report {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.comments {
  padding: 10px;
  display: flex;
}

#searchBox {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  padding: 5px;
  text-overflow: ellipsis;
  width: 300px;
}

.disp-icon {
  margin-right: 10px;
}

.key {
  /*margin-left: 15px;*/
  width:25%;
  font-size: 15px;;
}

.comment-input {
  float: left;
  width:100%;
}

.comment-button {
  float:right;
  position:absolute;
  width:20%;
  color: #002b80 !important;
}

h4 {
  font-family: 'Verdana', 'sans-serif';
  color: grey;
  margin-bottom:0;
  margin-top: 0;

}

