.scroll {
  height: 100%;
}

.bar-positive {
  background: #5a163a !important;
}

#map {
  width: 100%;
  height: 80%;
}

#report-map {
  width: 100%;
  height: 50%
}

.category-tag {
  float: left;
  font-size: 30px;
  margin-right: 25px;
}

.called911-tag {
  float: right;
  font-size: 30px;
  margin-left: 5px;
}

.primary-color {
  color: rgb(255, 241, 111);
}

.secondary-color {
  color: #731850;
}

.tertiary-color {
  color: #1976D2;
}

.nav-button {
  background: rgb(255, 241, 111) !important;
  color: #731850 !important;
}

.main-button {
  background: #1976D2 !important;
  color: white !important;
}

.important-button {
  background: rgb(255, 241, 111) !important;
  color: #731850 !important;
  font-size: 16pt !important;
}

.feed-report {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.comments {
  padding: 10px;
  display: flex;
}

#searchBox {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

