<ion-view title="Feed" id="page3">
  <ion-nav-buttons side="left">
    <a class="button nav-button" href="#/safe">
      Home
    </a>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="card " ng-repeat="report in reports">
      <div class="item item-text-wrap" style="display: flex;">
        <div class="pull-right feed-report">
          <i class="icon ion-ios-pricetag category-tag {{getColor(report.category_id)}}"></i>
        </div>
        <div class="report-text">
          <strong> Location:</strong> {{report.address}} <br>
          <strong> Description: </strong> {{report.description}} <br>
        </div>

        <div class="pull-left report-text">
          <i class="icon ion-alert called911-tag energized" ng-if="report.called_911 == true"></i>
        </div> <br>
      </div>
      <label class="item item-input " name="comment">
        <input type="text" ng-model="string" placeholder="Comment...">
      </label>
    </div>
  </ion-content>
</ion-view>


