<ion-view title="Feed" id="page3">
  <ion-nav-buttons side="left">
    <a class="button nav-button" href="#/safe">
      Home
    </a>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="card " ng-repeat="report in reports">
      <div class="item item-text-wrap">
        <i class="icon ion-ios-pricetag category-tag {{getColor(report.category_id)}}"></i>
        <i class="icon ion-alert called911-tag assertive" ng-if="report.called_911 == true"></i>
        <div class="report-text">
          <strong> Location:</strong> {{report.address}} <br>
          <strong> Description: </strong> {{report.description}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>


