<ion-view title="Report" id="page2">
  <ion-nav-buttons side="left">
    <a class="button nav-button" href="#/safe">
      Home
    </a>
  </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-init="initReportMap()">

      <!--Call 911 button and popup-->
      <a ng-click="showConfirm()" id="report-button3"
         class="button important-button button-large button-block">
        Call 911
      </a>

      <!--Google Map for reporting incident-->
      <h4 style="font-family: 'Verdana', 'sans-serif'; color: grey">Drag pin to location of incident:</h4>
      <div id="report-map" data-tap-disabled="true"></div>
                <form class="list">
                    <label class="item item-input" name="locationSearch">
                        <input type="text" ng-model="string" placeholder="Search Locations">
                    </label>
                </form>

        <!--Select category-->
        <form class="list">
            <label class="item item-select" name="category">
                <span class="input-label">Select Category</span>
                <select ng-model="category" ng-change="selectCategory(category)">
                    <option value="1">Verbal Incident</option>
                    <option value="2">Physical Incident</option>
                    <option value="3">Other</option>
                </select>
            </label>
        </form>

      <!--Write description-->
        <form class="list">
            <label class="item item-input" name="description">
                <span class="input-label">Description</span>
                <input type="text" ng-model="description" placeholder="What happened?">
            </label>
        </form>

      <!--Submit button-->
        <input type="submit" value="Report" ng-click="submitReport(category, description)" id="report-button4" class="button important-button button-block">
    </ion-content>
</ion-view>
