<ion-view title="Report" id="page2">
  <ion-nav-buttons side="left">
    <a class="button nav-button" nav-direction="back" href="#/safe">
      Home
    </a>
  </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-init="initReportMap()">

      <!--Call 911 button and popup-->
      <a ng-click="showConfirm()" id="report-button3"
         class="button important-button button-large button-block">
        Call 911
      </a>



      <!--Google Map for reporting incident-->
      <h4>Drag pin to location of incident:</h4>
      <!--Search box-->
      <div class="item item-input" name="locationSearch" data-tap-disabled="true">
        <input id="searchBox" class="item item-input" type="text" ng-model="string" ng-focus="disableTap()" placeholder="Search for a location...">
      </div>

      <div id="report-map" data-tap-disabled="true" class="item"></div>

      <br> <!--TODO Hack solution lol-->

      <!--Select category-->
      <div>
        <h4>Select the type of incident:</h4>
        <button class="button {{getCatButtonState('verbal')}}" ng-click="selectCategory('verbal')" id="verbal">Verbal</button>
        <button class="button {{getCatButtonState('physical')}}" ng-click="selectCategory('physical')" id="physical">Physical</button>
        <button class="button {{getCatButtonState('other')}}" ng-click="selectCategory('other')" id="other">Other</button>
      </div>


      <!--Write description-->
      <form class="list" style="margin-top: 5px">
          <label class="item item-input" name="description">
              <span class="input-label">Description</span>
              <input type="text" ng-model="description" placeholder="What happened?">
          </label>
      </form>

      <!--Submit button-->
        <input type="submit" value="Report" ng-click="submitReport(description)" id="report-button4" class="button important-button button-block">
    </ion-content>
</ion-view>
