<ion-view title="SAFE" id="page1">
  <ion-nav-buttons side="right">
    <a class="button button-royal"
       href="#/tab/result">
      <i class="icon ion-play"></i>
    </a>
  </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
                <form class="list">
                    <label class="item item-input" name="locationSearch">
                        <input type="text" ng-model="string" placeholder="Search">
                    </label>
                </form>
        <div id="map" data-tap-disabled="true"></div>
        <a ui-sref="report" id="safe-button1" class="button button-assertive  button-block">Report</a>
    </ion-content>
</ion-view>

