<ion-view title="Heard" id="page1">
  <ion-nav-buttons side="right">
    <a class="button nav-button" nav-direction="forward" href="#/feed">Feed</a>
  </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-init="initMap()">

      <!--Search box-->
      <div class="item item-input" name="locationSearch" data-tap-disabled="true">
          <input id="searchBox" class="item item-input" type="text" ng-model="string" ng-focus="disableTap()" placeholder="Search for a location...">
      </div>
      <!--Map-->
      <div id="map" class="item" data-tap-disabled="true"></div>

      <!--Report button-->
      <a ui-sref="report" id="safe-button1" class="button important-button button-block">Report</a>

    </ion-content>
</ion-view>

