<ion-view title="SAFE" id="page1">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <div class="list card">
            <div class="item item-divider">map</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input" name="locationSearch">
                        <input type="text" placeholder="Search">
                    </label>
                </form>
            </div>
        </div>
        <a ui-sref="report" id="safe-button1" class="button button-assertive  button-block">Report</a>
    </ion-content>
</ion-view>
