<ion-view title="SAFE" id="page1">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>

          <ion-content ng-controller="safeCtrl">
            <div id="map" data-tap-disabled="true"></div>
          </ion-content>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input" name="locationSearch">
                        <input type="text" ng-model="string" placeholder="Search">
                    </label>
                </form>
            </div>
        <a ui-sref="report" id="sAFE-button1" class="button button-assertive  button-block">Report</a>
    </ion-content>
</ion-view>

